@import 'https://fonts.googleapis.com/css?family=Roboto+Slab|Tajawal';

body {
    overflow-x: hidden;
}
* {
    font-family: 'Tajawal', sans-serif;
}
*[w] {
    color: white;
}
.header-font {
    font-family: 'Roboto Slab', sans-serif;
}

h1 {
    .header-font;
}

.topbar {
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
}

.centered-text {
    text-align: center;
}

#login-form {
    margin-top: 300px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
}

#chat-sidebar {
    height: 100%;
    width: 325px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    
    background-color: #0a1128;
    
    #sidebar-chats-wrapper {
        height: 50%;
        overflow-y: auto;
        border-top: 1px solid white;
        .sidebar-chat {
            width: 90%;
            border: 1px solid white;
            border-radius: 8px;
            margin: 8px;
            height: 100px;
            .chat-id {
                color: lightgray;
                display: inline;
            }
            .chat-name {
                display: inline;
            }
        }
    }
}

#message-send-menu {
    width: 100%;
    height: 60px;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    margin-left: 325px;
    background-color: #313e50;
    padding: 4px;
}

#messages {
    width: 100%;
    height: 100%;
    margin-left: 325px;
    padding-bottom: 62px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    .message {
        width: 100%;
        min-height: 100px;
        margin: 5px 0px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .message-body {
            margin-bottom: 1px;
            word-wrap: break-word;
        }
        .message-time {
            margin-bottom: 1px;
            color: gray;
            font-size: 15px;
        }
        .message-from {
            margin-bottom: 1px;
            font-size: 20px;
        }
    }
}

.chat {
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
    width: 400px;
    padding: 8px;
    height: 110px;
    .chat-id {
        color: grey;
        display: inline;
    }
    .chat-name {
        display: inline;
    }
}

.owned-chat {
    border: 2px solid black !important;
    .chat;
}

.joined-chat {
    .chat;
}

/*.message-wrap::after {
    content: "\A";
    white-space: pre;
}*/
