<script>var chatid = {{id}}; var username = {{username}}</script>
<h1>{{name}}</h1>
<input type="text" id="message">
<input type="submit" value="Send" id="message-send">
<script src="/client_js/message.js"></script>