<div class="row">
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
        <form action="/create-user-process" id="login-form" method="POST">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Create">
        </form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>