<div class="topbar">
            <h1 class="centered-text header-font">Syrup</h1>
        </div>
   <div class="row">
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-4">
        <form action="/login-process" id="login-form" method="POST">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Login">
            <a href="/create-user">Create an account</a>
        </form>
    </div>
    <div class="col-sm-4">
        
    </div>
</div>